<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>微信</title>
    <link rel="stylesheet" type="text/css" href="../static/css/common.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.cookie.2.1.4.js"></script>
    <script type="text/javascript" src="../static/js/TouchSlide.1.1.js"></script>
    <script type="text/javascript" src="../static/js/global.js"></script>
</head>

<body>

<!-- 头部star -->
<div class="m-header">
    <div class="back">
        <a href="#"><em  class="icon icon-header-back"></em></a>
    </div>
    <h1>帖子</h1>
</div>
<!-- 头部end -->
<!-- 帖子star -->
<div class="m-invitation mt10">
    <div class="m-invitation-hd">
        <img src="../static/images/demo03.png" alt="">
    </div>
    <div class="m-invitation-bd mt20">
        <div class="hd">
            <h1>良品推荐 | 淡淡精简之美，只给少数性                                     情之人</h1>
            <p>镖局小秘书’2016-07-12 18:00</p>
        </div>
        <div class="bd mt20">
            <p>设计师交稿之前，也可以通过这些规则测试自己的稿子。然后再分享给设计师做设计稿时的3个小技巧， 第一，在设计稿快完成的时候，把</p> <img src="../static/images/demo03.png" alt="">
            <p>设计师交稿之前，也可以通过这些规则测试自己的稿子。然后再分享给设计师做设计稿时的3个小技巧， 第一，在设计稿快完成的时候，把</p>
        </div>
    </div>
    <div class="m-invitation-ft mt20">
        <div class="zan"><a class="icon icon-zan" href="javascript:void(0);"></a></div>
        <p><i>211</i>人觉得很赞</p>
    </div>
</div>
<!-- 帖子end -->
</body>

</html>
