<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>微信</title>
    <link rel="stylesheet" type="text/css" href="../static/css/common.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.cookie.2.1.4.js"></script>
    <script type="text/javascript" src="../static/js/TouchSlide.1.1.js"></script>
    <script type="text/javascript" src="../static/js/global.js"></script>
</head>

<body>

<!-- 头部star -->
<div class="m-header">
    <div class="back">
        <a href="#"><em  class="icon icon-header-back"></em></a>
    </div>
    <div class="close">
        <a href="#"><em  class="icon icon-header-close"></em></a>
    </div>
    <h1>成为镖师</h1>
</div>
<!-- 头部end -->
<!-- 镖师中心star -->
<div class="m-dartlike-center mt10 m-be-bs">
    <div class="item-list">
        <div class="item cf bs-school">
            <div class="left fl">
                <em class="icon icon-xuexiao"></em><span>学校</span>
            </div>
            <div class="right fr">
                <input type="text" placeholder="选择您所在的学校">
            </div>
            <div class="arrow">
                <em class="icon icon-item-right"></em>
            </div>
        </div>
        <div class="item cf bs-location">
            <div class="left fl">
                <em class="icon icon-send-addr"></em><span>位置</span>
            </div>
            <div class="right fr">
                <input type="text" placeholder="哈雷彗星1-21">
            </div>
            <div class="arrow">
                <em class="icon icon-item-right"></em>
            </div>
        </div>
    </div>
    <div class="item-list mt10">
        <div class="item cf bs-name">
            <div class="left fl">
                <em class="icon icon-name"></em><span>姓名</span>
            </div>
            <div class="right fr">
                <input type="text" placeholder="请输入您的姓名">
            </div>
            <div class="arrow">
                <em class="icon icon-item-right"></em>
            </div>
        </div>
        <div class="item cf bs-sex">
            <div class="left fl">
                <em class="icon icon-sex"></em><span>性别</span>
            </div>
            <div class="right fr">
                <div class="m-select-hor">
                    <div class="nor">
                        <span class="sex-l">男</span>
                        <em class="icon icon-adrr-down"></em>
                    </div>
                    <div class="hor">
                        <ul>
                            <li>男</li>
                            <li>女</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="yzm">
            <div class="cf">
                <div class="left fl">
                    <em class="icon icon-tel2"></em><span>手机</span>
                </div>
                <div class="right fr">
                    <p>
                        <input class="input1" type="text" placeholder="请输入您的手机号码">
                    </p>
                    <p>
                        <input class="input2" type="text" placeholder="验证码"><a href="#">获取验证码</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="m-picture-description">
        <div class="hd cf">
            <div class="fl"><em class="icon icon-send-gally"></em><span>身份认证 </span></div>
            <div class="fr">
                <i>请拍照上传您的身份证(两面). </i>
            </div>
        </div>
        <div class="bd mt10">
            <div class="img img-finish">
                <img src="../static/images/ip-img.jpg" alt="">
                <em>100%</em>
            </div>
            <div class="img">
                <img src="../static/images/ip-img.jpg" alt="">
                <em>0%</em>
            </div>
            <div class="up-img">
                <em class="icon icon-up-img"></em>
                <input type="file">
            </div>
        </div>
    </div>
    <div class="submit-box mt20">
        <input class="m-form-submit" type="submit" value="成为镖师">
    </div>
</div>
<!-- 弹窗start -->
<div class="m-my-tips-alert-wrap m-alert-wrap m-fail-wrap" >
    <div class="m-close-succeed-alert  m-close-fail-alert">
        <img src="../static/images/alert.png" alt="">
        <h3>OOPS!</h3>
        <p></p> 
    </div>
</div>
<div class="m-my-tips-alert-wrap m-alert-wrap m-note-wrap" >
    <div class="m-close-succeed-alert">
        <img src="../static/images/up-success.png" alt="">
        <h3>恭喜您</h3>
        <p></p> 
    </div>
</div>
<!-- 弹窗end -->
<!-- 镖师中心end -->
</body>

</html>
