<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>微信</title>
    <link rel="stylesheet" type="text/css" href="../static/css/common.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.cookie.2.1.4.js"></script>
    <script type="text/javascript" src="../static/js/TouchSlide.1.1.js"></script>
    <script type="text/javascript" src="../static/js/global.js"></script>
</head>

<body>

<!-- 头部star -->
<div class="m-header">
    <div class="back">
        <a href="#"><em  class="icon icon-header-back"></em></a>
    </div>
    <h1>镖师中心</h1>
</div>
<!-- 头部end -->
<!-- 镖师中心star -->
<div class="m-escort-center mt5">
    <div class="item">
        <a href="bs_bd.html">
            <span>镖师镖单</span>
            <em class="icon icon-item-right"></em>
        </a>
    </div>
    <div class="item">
        <a href="bs_income.html">
            <span>我的收入</span>
            <em class="icon icon-item-right"></em>
        </a>
    </div>
    <div class="item">
        <a href="#">
            <span>保证金</span>
            <em class="icon icon-item-right"></em>
        </a>
    </div>
    <div class="item">
        <a href="bs_complaint.html">
            <span>我的投诉</span>
            <em class="icon icon-item-right"></em>
        </a>
    </div>
</div>
<!-- 镖师中心end -->
</body>

</html>
