<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>微信</title>
    <link rel="stylesheet" type="text/css" href="../static/css/common.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.cookie.2.1.4.js"></script>
    <script type="text/javascript" src="../static/js/TouchSlide.1.1.js"></script>
    <script type="text/javascript" src="../static/js/global.js"></script>
</head>

<body>

<!-- 头部star -->
<div class="m-header">
     <div class="back">
        <a href="#"><em  class="icon icon-header-back"></em></a>
    </div>
    <h1>我的资金</h1>
</div>
<!-- 头部end -->
<!-- 我的资金star -->
<div class="m-my-capital mt10" id="aotuSlider">
    <div class="money">
        <h2><i>￥</i><span>12.00</span>元</h2>
        <p><a href="#">去提现></a></p>
    </div>
    <div class="hd mt10">
        <ul>
            <li class="on">收入记录</li>
            <li>支出记录</li>
        </ul>
    </div>
    <div class="bd" id="aotuSliderBd">
        <div class="item " id="myIncome">
            <ul>
                <li>
                    <p>镖单收入</p>
                    <span>2016-07-01 14:00:25</span>
                    <em>+3.15</em>
                </li>
                <li>
                    <p>镖单收入</p>
                    <span>2016-07-01 14:00:25</span>
                    <em>+1</em>
                </li>
                <li>
                    <p>镖单收入</p>
                    <span>2016-07-01 14:00:25</span>
                    <em>+5</em>
                </li>
                <li>
                    <p>镖单收入</p>
                    <span>2016-07-01 14:00:25</span>
                    <em>+8</em>
                </li>
                <li>
                    <p>镖单收入</p>
                    <span>2016-07-01 14:00:25</span>
                    <em>+2</em>
                </li>
                <li>
                    <p>镖单收入</p>
                    <span>2016-07-01 14:00:25</span>
                    <em>+7</em>
                </li>
            </ul>
        </div>
        <div class="item " id="myRefund">
            <ul>
                <li>
                    <p>退款</p>
                    <span>2016-07-01 14:00:25</span>
                    <em>-2</em>
                </li>
                <li>
                    <p>退款</p>
                    <span>2016-07-01 14:00:25</span>
                    <em>-5</em>
                </li>
                <li>
                    <p>退款</p>
                    <span>2016-07-01 14:00:25</span>
                    <em>-1</em>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- 我的资金end -->
</body>

</html>
