<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>微信</title>
    <link rel="stylesheet" type="text/css" href="../static/css/common.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.cookie.2.1.4.js"></script>
    <script type="text/javascript" src="../static/js/TouchSlide.1.1.js"></script>
    <script type="text/javascript" src="../static/js/global.js"></script>
</head>

<body>

<!-- 头部star -->
<div class="m-header">
    <div class="back">
        <a href="#"><em  class="icon icon-header-back"></em></a>
    </div>
    <h1>忘记密码</h1>
    <div class="submit">
        <a href="login.html">立即登录</a>
    </div>
</div>
<!-- 头部end -->
<!-- 登录star -->
<div class="m-login m-forget">
    <div class="item01">
        <input type="text" placeholder="手机号">
    </div>
    <div class="item01">
        <input type="text" placeholder="输入验证码">
        <a href="javascript:void(0);">获取验证码</a>
    </div>
    <div class="item01">
        <input id="password" type="password" placeholder="请重新设置密码">
        <em id="togglePassword" class="icon icon-logon-eye"></em>
    </div>
    <div class="item02 mt30">
        <input class="m-form-submit" type="submit" value="找回密码">
    </div>
</div>
<!-- 弹窗start -->
<div class="m-my-tips-alert-wrap m-alert-wrap m-fail-wrap" >
    <div class="m-close-succeed-alert  m-close-fail-alert">
        <img src="../static/images/alert.png" alt="">
        <h3>OOPS!</h3>
        <p></p> 
    </div>
</div>
<div class="m-my-tips-alert-wrap m-alert-wrap m-note-wrap" >
    <div class="m-close-succeed-alert">
        <img src="../static/images/up-success.png" alt="">
        <h3>恭喜您</h3>
        <p></p> 
    </div>
</div>
<!-- 弹窗end -->
<!-- 登录end -->
</body>

</html>
