<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>微信</title>
    <link rel="stylesheet" type="text/css" href="../static/css/common.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.cookie.2.1.4.js"></script>
    <script type="text/javascript" src="../static/js/TouchSlide.1.1.js"></script>
    <script type="text/javascript" src="../static/js/global.js"></script>
</head>

<body>

<!-- 头部star -->
<div class="m-header my-header-refund">
     <div class="back">
        <a href="#"><em  class="icon icon-header-back"></em></a>
    </div>
    <h1>申请退款</h1>
    <div class="submit">
        <a href="#">提交</a>
    </div>
</div>
<!-- 头部end -->
<!-- 镖师中心star -->
<div class="m-user-complaint mt10">
    <div class="item">
        <a href="#">
            <span>退款原因</span>
            <textarea id="placeholder" placeholder="填写退款原因"></textarea>
        </a>
    </div>
    <div class="item">
        <a href="#">
            <span>退款金额</span>
            <i>最多<b>2.00</b>元</i>
        </a>
    </div>
</div>
<!-- 弹窗start -->
<div class="m-my-tips-alert-wrap m-alert-wrap m-fail-wrap" >
    <div class="m-close-succeed-alert  m-close-fail-alert">
        <img src="../static/images/alert.png" alt="">
        <h3>OOPS!</h3>
        <p></p> 
    </div>
</div>
<div class="m-my-tips-alert-wrap m-alert-wrap m-note-wrap" >
    <div class="m-close-succeed-alert">
        <img src="../static/images/up-success.png" alt="">
        <h3>提交成功</h3>
        <p></p> 
    </div>
</div>
<!-- 弹窗end -->
<!-- 镖师中心end -->
</body>

</html>
