<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>微信</title>
    <link rel="stylesheet" type="text/css" href="../static/css/common.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.cookie.2.1.4.js"></script>
    <script type="text/javascript" src="../static/js/TouchSlide.1.1.js"></script>
    <script type="text/javascript" src="../static/js/global.js"></script>
</head>

<body>

<!-- 头部star -->
<div class="m-header">
    <div class="back">
        <a href="#"><em  class="icon icon-header-back"></em></a>
    </div>
    <h1>登录</h1>
    <div class="submit">
        <a href="register.html">立即注册</a>
    </div>
</div>
<!-- 头部end -->
<!-- 登录star -->
<div class="m-logon">
    <div class="item01">
        <em class="icon icon-logon-user"></em>
        <input type="text" placeholder="请输入用户名">
    </div>
    <div class="item01">
        <em class="icon icon-logon-password"></em>
        <input id="password" type="password" placeholder="请输入密码">
        <em id="togglePassword" class="icon icon-logon-eye"></em>
    </div>
    <div class="item02 mt30">
        <input class="m-form-submit" type="submit" value="登录">
    </div>
    <div class="item03">
        <p><a class="fl important-color" href="#">微信登录</a><a href="forget.html" class="fr">忘记密码？</a></p>
    </div>
</div>

<!-- 弹窗start -->
<div class="m-my-tips-alert-wrap m-alert-wrap m-fail-wrap" >
    <div class="m-close-succeed-alert  m-close-fail-alert">
        <img src="../static/images/alert.png" alt="">
        <h3>OOPS!</h3>
        <p></p> 
    </div>
</div>
<div class="m-my-tips-alert-wrap m-alert-wrap m-note-wrap" >
    <div class="m-close-succeed-alert">
        <img src="../static/images/up-success.png" alt="">
        <h3>恭喜您</h3>
        <p></p> 
    </div>
</div>
<!-- 弹窗end -->

<!-- 登录end -->

</body>

</html>
