<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>微信</title>
    <link rel="stylesheet" type="text/css" href="../static/css/common.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/TouchSlide.1.1.js"></script>
    <script type="text/javascript" src="../static/js/global.js"></script>
</head>

<body>

<!-- 头部star -->
<div class="m-header">
    <div class="back">
        <a href="#"><em  class="icon icon-header-back"></em></a>
    </div>
    <h1>投诉</h1>
</div>
<!-- 头部end -->
<!-- 栏目star -->
<div class="m-escort-center mt5">
    <div class="item">
        <a href="go_complain.html">
            <span>投诉镖师</span>
            <em class="icon icon-item-right"></em>
        </a>
    </div>
    <div class="item">
        <a href="go_refund.html">
            <span>发起退款</span>
            <em class="icon icon-item-right"></em>
        </a>
    </div>
  
<!-- 栏目end -->
</body>

</html>
