<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>微信</title>
    <link rel="stylesheet" type="text/css" href="../static/css/common.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.cookie.2.1.4.js"></script>
    <script type="text/javascript" src="../static/js/TouchSlide.1.1.js"></script>
    <script type="text/javascript" src="../static/js/global.js"></script>
</head>

<body id='myLocation'>

<!-- 头部star -->
<div class="m-header">
    <div class="back">
        <a href="#"><em  class="icon icon-header-back"></em></a>
    </div>
    <h1>我的位置</h1>
    <div class="add-adrr">
        <a href="my_location_new.html"><em class="icon icon-add-adrr"></em></a>
    </div>
</div>
<!-- 头部end -->
<!-- 我的位置star -->
<div class="m-my-location mt10">
    <div class="item">
        <div class="bd">
            <ul>
                <li class="cf"><span>杨利伟1</span><i>12456789011</i></li>
                <li>
                    <span>银河哈雷彗星11栋105号</span><i class="fr"></i>
                </li>
            </ul>
        </div>
        <div class="ft cf">
            <div class="fl"><span>设为默认地址</span>
                <input type="checkbox">
            </div>
            <div class="fr">
                <a class="edit" href="#">编辑</a>
                <a class="del" href="javascript:void(0);">删除</a>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="bd">
            <ul>
                <li class="cf"><span>杨利伟2</span><i>12456789011</i></li>
                <li>
                    <span>银河哈雷彗星11栋105号</span><i class="fr"></i>
                </li>
            </ul>
        </div>
        <div class="ft cf">
            <div class="fl"><span>设为默认地址</span>
                <input type="checkbox">
            </div>
            <div class="fr">
                <a class="edit" href="#">编辑</a>
                <a class="del" href="javascript:void(0);">删除</a>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="bd">
            <ul>
                <li class="cf"><span>杨利伟3</span><i>12456789011</i></li>
                <li>
                    <span>银河哈雷彗星11栋105号</span><i class="fr"></i>
                </li>
            </ul>
        </div>
        <div class="ft cf">
            <div class="fl"><span>设为默认地址</span>
                <input type="checkbox">
            </div>
            <div class="fr">
                <a class="edit" href="#">编辑</a>
                <a class="del" href="javascript:void(0);">删除</a>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="bd">
            <ul>
                <li class="cf"><span>杨利伟4</span><i>12456789011</i></li>
                <li>
                    <span>银河哈雷彗星11栋105号</span><i class="fr"></i>
                </li>
            </ul>
        </div>
        <div class="ft cf">
            <div class="fl"><span>设为默认地址</span>
                <input type="checkbox">
            </div>
            <div class="fr">
                <a class="edit" href="#">编辑</a>
                <a class="del" href="javascript:void(0);">删除</a>
            </div>
        </div>
    </div>
</div>

<!-- 管理按钮star -->
<div class="m-admin-wrap">
    <div class="m-admin-bottom">
        <a href="#">管理</a>
    </div>
</div>
<!-- 管理按钮end -->
<!-- 我的位置end -->
<!-- 弹窗star -->
<div class="m-my-dartlike-alert-wrap m-alert-wrap">
    <div class="m-close-order-alert">
        <img src="../static/images/close-order.png" alt="">
        <h3>是否删除位置？</h3>
        <p><a class="fl" href="javascript:void(0);">确认</a><span>|</span><a class="fr" href="javascript:void(0);">取消</a></p>
    </div>
</div>
<!-- 弹窗end -->
<!-- 弹窗start -->
<div class="m-my-tips-alert-wrap m-alert-wrap m-fail-wrap" >
    <div class="m-close-succeed-alert  m-close-fail-alert">
        <img src="../static/images/alert.png" alt="">
        <h3>OOPS!</h3>
        <p></p> 
    </div>
</div>
<div class="m-my-tips-alert-wrap m-alert-wrap m-note-wrap" >
    <div class="m-close-succeed-alert">
        <img src="../static/images/up-success.png" alt="">
        <h3>恭喜您</h3>
        <p></p> 
    </div>
</div>
<!-- 弹窗end -->
</body>

</html>
