<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>微信</title>
    <link rel="stylesheet" type="text/css" href="../static/css/common.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.cookie.2.1.4.js"></script>
    <script type="text/javascript" src="../static/js/TouchSlide.1.1.js"></script>
    <script type="text/javascript" src="../static/js/global.js"></script>
</head>

<body>

<!-- 头部star -->
<div class="m-header">
    <div class="back">
        <a href="#"><em  class="icon icon-header-back"></em></a>
    </div>
    <h1>新建位置</h1>
</div>
<!-- 头部end -->
<!-- 编辑位置star -->
<div class="m-edit-location mt10 location-new">
    <div class="item-list">
        <div class="item item01 cf">
            <div class="left  new-school"><span>学校</span><i></i></div>
            <div class="select">
                <div class="nor">
                    <em class="icon icon-adrr-down"></em>
                </div>
                <div class="hor">
                    <ul>
                        <li>哈雷彗星1</li>
                        <li>哈雷彗星2</li>
                        <li>哈雷彗星3</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="item item01 cf">
            <div class="left new-building"><span>楼栋</span><i></i></div>
            <div class="select">
                <div class="nor">
                    <em class="icon icon-adrr-down"></em>
                </div>
                <div class="hor">
                    <ul>
                        <li>哈雷彗星1</li>
                        <li>哈雷彗星2</li>
                        <li>哈雷彗星3</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="item item01 new-detail">
            <span>详细地址</span>
            <textarea></textarea>
        </div>
        <div class="item item01 new-name">
            <span>联系人</span>
            <input type="text" value="">
        </div>
        <div class="item item01 new-phone">
            <span>手机号码</span>
            <input type="number" value="">
        </div>
        <div class="item ">
            <span>设为默认地址</span>
            <input type="checkbox" />
        </div>
    </div>


    <div class="submit-box mt20">
        <input class="m-form-submit" type="submit" value="保存">
    </div>
</div>

<!-- 弹窗start -->
<div class="m-my-tips-alert-wrap m-alert-wrap m-fail-wrap" >
    <div class="m-close-succeed-alert  m-close-fail-alert">
        <img src="../static/images/alert.png" alt="">
        <h3>OOPS!</h3>
        <p></p> 
    </div>
</div>
<div class="m-my-tips-alert-wrap m-alert-wrap m-note-wrap" >
    <div class="m-close-succeed-alert">
        <img src="../static/images/up-success.png" alt="">
        <h3>恭喜您</h3>
        <p></p> 
    </div>
</div>
<!-- 弹窗end -->

<!-- 编辑位置end -->
</body>

</html>
