<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>微信</title>
    <link rel="stylesheet" type="text/css" href="../static/css/common.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.cookie.2.1.4.js"></script>
    <script type="text/javascript" src="../static/js/TouchSlide.1.1.js"></script>
    <script type="text/javascript" src="../static/js/global.js"></script>
</head>

<body>

<!-- 头部star -->
<div class="m-header">
    <div class="back">
        <a href="#"><em  class="icon icon-header-back"></em></a>
    </div>
    <h1>退款确认中</h1>
</div>
<!-- 头部end -->
<!-- 镖师中心star -->
<div class="m-user-complainting mt10">
    <img src="../static/images/tuikuan.png" alt="">
    <p>退款ing</p>
    <p>进入<a href="my_bd_detail.html">镖单详情</a>可查看退款进度</p>
</div>
<!-- 镖师中心end -->
</body>

</html>
