<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>微信</title>
    <link rel="stylesheet" type="text/css" href="../static/css/common.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.cookie.2.1.4.js"></script>
    <script type="text/javascript" src="../static/js/TouchSlide.1.1.js"></script>
    <script type="text/javascript" src="../static/js/global.js"></script>
    <script type="text/javascript" src="js/.js"></script>
</head>
<body>
    <!-- 图片说明--> 
    <div class="m-picture-description">
        <div class="hd cf">
            <div class="fl"><em class="icon icon-send-gally"></em><span>图片说明 </span></div>
            <div class="fr">
                <i>0/2</i>
            </div>
        </div>
        <div class="bd mt10 bd-images">
            <div class="img img-finish">
                <img src="../static/images/ip-img.jpg" alt="">
                <em>100%</em>
            </div>
            <div class="img">
                <img src="../static/images/ip-img.jpg" alt="">
                <em>0%</em>
            </div>
            <div class="up-img">
                <em class="icon icon-up-img"></em>
                <input type="file" name ="file">
            </div>
        </div>
    </div>

<!-- 弹窗start -->
<div class="m-my-tips-alert-wrap m-alert-wrap m-fail-wrap" >
    <div class="m-close-succeed-alert  m-close-fail-alert">
        <img src="../static/images/alert.png" alt="">
        <h3>OOPS!</h3>
        <p></p> 
    </div>
</div>
<div class="m-my-tips-alert-wrap m-alert-wrap m-note-wrap" >
    <div class="m-close-succeed-alert">
        <img src="../static/images/up-success.png" alt="">
        <h3>恭喜您</h3>
        <p></p> 
    </div>
</div>
<!-- 弹窗end -->
</body>

</html>
